*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(230, 230, 230);
}

.container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 8vh auto;
    align-items: center;
    padding: 1em;
    width: 90vw;
}

main {
    background-color: rgb(253, 214, 98);
    padding: 4em;
    border-radius: 15px;
}

main div {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

div #todo-form {
    display: flex;
    flex-direction: column;
}

#todo-form input,
label {
    font-size: 1rem;
}

#todo-form input,
#category-form input {
    border: none;
    border-radius: 3px;
}

#category-form {
    display: flex;
    flex-direction: column;

}

#todo-form input {
    margin: 2em 0;
    padding: 0.5em 1em;
    font-family: 'Rock Salt', system-ui, sans-serif;
}

#category-form input {
    margin: 1em 0;
    padding: 0.5em;
    width: 50%;
}

#category-form button {
    width: 50%;
    padding: 0.5em;
}

ul {
    list-style: none;

}

.todo-list li,
.done-list li {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    font-family: 'Rock Salt', system-ui, sans-serif;
    background-color: #fff;
}

button {
    border: none;
    padding: 0.5em 2em;
}

button:hover {

    box-shadow: inset 0 0 5px 2px rgb(0 0 0 / 0.5);
}

li,
button {
    cursor: pointer;
    color: #222;
    border-radius: 4px;
    font-size: 1em;
}


button {
    background-color: #ccc;

}

/* li,
li+button {
    width: 29rem;
    padding: 1em;

} */

li+button {
    padding: 1em;
}

li+button,
li>button {
    margin-top: 0.5em;
    width: max-content;

}

li>button {
    margin-left: 1em;
    /* background-color: #fff; */
}

.edit {
    color: rgb(0 0 0 / 0.5);
    border: solid 3px black;
}

.done {
    text-decoration: line-through;
}

.categories-list {
    display: flex;
    gap: 1em;
}

.categories-list>li {
    background-color: #fff;
    padding: .25em .75em;
    border-radius: 40px;
}

.categories-list>li:hover,
.categories-list li a:hover {
    background-color: rgba(255, 255, 255, 0.852);
}

.categories-list li a {
    color: #222;
    text-decoration: none;
}

/* GRID */
.lists {
    display: grid;
    margin: unset;
    padding: unset;
    grid-template-columns: repeat(2, 1fr);
}
